{% extends 'base.html' %}

{% block header %}
<title>{% block title %}Rental List Pages{% endblock %}</title>
<style>
    table {
      font-family: arial, sans-serif;
      border-collapse: collapse;
      width: 100%;
    }
    
    td, th {
      border: 1px solid #dddddd;
      text-align: left;
      padding: 8px;
    }
    
    tr:nth-child(even) {
      background-color: #dddddd;
    }
    </style>
{% endblock %}

{% block body %}


<table>
    <tr>
      <th>Name</th>
      <th>Activated Contact</th>
      <th>Email</th>
      <th>Vehicle Types</th>

      <th> Rental Date </th>
      <th>Return Date</th>
      <th>User Status</th>
      <th> Registration Time</th>
      
    </tr>
    {% for i in vehicle %}
    <tr>

      <td>{{ i.username }}</td>
      <td>{{ i.usermobile }}</td>
      <td>{{ i.useremail }}</td>
      <td>{{ i.vehicle }}</td>
      <td>{{ i.rental_date }}</td>
      <td>{{ i.return_date }}</td>
      <td>{{ i.status }}</td>

      <td>{{ i.create_at }}</td>
  
    </tr>
    {% endfor %}
  </table>


{% for i in vehical %}
<h1>  </h1>
{% endfor %}
{% endblock %}